<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App Status: {{ appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | sort:'name':'asc'"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name }}</strong> |
          {{ server.instanceType | reverse }} |
          {{ server.started | date:'fullDate' | uppercase }}
          <span
            class="badge badge-dark">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

